body{
    text-align: center;
    margin: 0;
    background-image: url('imgs/egypt-anubis-mummy-i70f35wseaaqa6ku.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
}

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 header {
     margin-top: 20px;
  
 }

 .card {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
     border-radius: 10px;

 }

 .card-body {
     padding: 20px;
 
 }

 .myStory{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
 }

h1{
    font-family: "exocet", sans-serif;
        font-weight: 900;
        font-size: 200px;
        font-style: normal;
        color:rgb(224, 200, 90);
}